A:link {
	COLOR: blue; TEXT-DECORATION: underline
}
A:visited {
	COLOR: purple; TEXT-DECORATION: underline
}
A:active {
	COLOR: red; TEXT-DECORATION: underline
}
P.Body {
	FONT-SIZE: 11pt; MARGIN: 12pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
LI.Bulleted {
	FONT-SIZE: 11pt; MARGIN: 4pt 0pt 0pt 45pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -18pt; FONT-FAMILY: Times; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
P.BulletedCont {
	FONT-SIZE: 12pt; MARGIN: 4pt 0pt 0pt 13.744pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.CellBody {
	FONT-SIZE: 10pt; MARGIN: 0pt 0pt 4pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
P.CellHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
LI.Equation {
	FONT-SIZE: 10pt; MARGIN: 10pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
P.Extract {
	FONT-SIZE: 12pt; MARGIN: 7pt 54pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.Figure {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 12pt 0pt 16pt 13.751pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Helvetica; TEXT-ALIGN: center; TEXT-DECORATION: none
}
P.Footnote {
	FONT-SIZE: 10pt; MARGIN: 3pt 0pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -12pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 24pt 0pt 8pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 24pt 0pt 8pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 24pt 0pt 8pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 24pt 0pt 8pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 24pt 0pt 8pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN: 24pt 0pt 8pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.Heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.Heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.Heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.Heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.Heading3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 18pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.HeadingRunIn {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 12pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Mapping-Table-Cell {
	FONT-SIZE: 12pt; MARGIN: 2pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Mapping-Table-Title {
	FONT-SIZE: 14pt; MARGIN: 2pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.Numbered {
	FONT-SIZE: 12pt; MARGIN: 6pt 0pt 0pt 13.744pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -13.744pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.Numbered1 {
	FONT-SIZE: 12pt; MARGIN: 6pt 0pt 0pt 13.744pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -13.744pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.NumberedCont {
	FONT-SIZE: 12pt; MARGIN: 4pt 0pt 0pt 13.744pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Paragraph {
	FONT-SIZE: 11pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 18pt; FONT-FAMILY: Times; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
P.Paragraph-cont {
	FONT-SIZE: 11pt; MARGIN: 6pt 0pt 2pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: justify; TEXT-DECORATION: none
}
P.ReportAuthor {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
P.ReportTitle {
	FONT-SIZE: 24pt; MARGIN: 0pt 0pt 18pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H1.TableFootnote {
	FONT-SIZE: 10pt; MARGIN: 3pt 18pt 0pt 10.224pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.TableFootnote {
	FONT-SIZE: 10pt; MARGIN: 3pt 18pt 0pt 10.224pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.TableFootnote {
	FONT-SIZE: 10pt; MARGIN: 3pt 18pt 0pt 10.224pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.TableFootnote {
	FONT-SIZE: 10pt; MARGIN: 3pt 18pt 0pt 10.224pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.TableFootnote {
	FONT-SIZE: 10pt; MARGIN: 3pt 18pt 0pt 10.224pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.TableFootnote {
	FONT-SIZE: 10pt; MARGIN: 3pt 18pt 0pt 10.224pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.TableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; MARGIN: 0pt 0pt 0pt 13.751pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Helvetica; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H1.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times New Roman; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H2.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times New Roman; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H3.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times New Roman; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H4.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times New Roman; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H5.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times New Roman; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H6.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times New Roman; TEXT-ALIGN: center; TEXT-DECORATION: none
}
EM.BulletSymbol {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Courier; TEXT-DECORATION: none
}
EM.Callout {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; COLOR: #000000; FONT-FAMILY: Times; TEXT-DECORATION: none
}
EM.Emphasis {
	FONT-STYLE: italic
}
EM.EquationVariables {
	FONT-STYLE: italic
}
EM.overbar {
	TEXT-DECORATION: overline
}
EM.underline {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; FONT-STYLE: italic; FONT-FAMILY: Times; TEXT-DECORATION: underline
}
