[submodule "benchmarks/epfl_benchmarks"]
	path = benchmarks/epfl_benchmarks
	url = https://github.com/sventhijssen/epfl_benchmarks.git
[submodule "abc"]
	path = abc
	url = https://github.com/sventhijssen/abc.git
[submodule "z3"]
	path = z3
	url = https://github.com/Z3Prover/z3.git
