cycler==0.10.0
Deprecated==1.2.13
kiwisolver==1.3.2
ltspice==1.0.4
matplotlib==3.4.3
networkx==2.6.3
numpy==1.21.2
pexpect==4.8.0
Pillow==8.3.2
ptyprocess==0.7.0
PuLP>=2.5.0
pyopt==0.84
pyparsing==2.4.7
python-dateutil==2.8.2
six==1.16.0
timeout-decorator==0.5.0
wrapt==1.12.1
z3-solver==4.8.12.0
