A:link {
	COLOR: blue; TEXT-DECORATION: underline
}
A:visited {
	COLOR: purple; TEXT-DECORATION: underline
}
A:active {
	COLOR: red; TEXT-DECORATION: underline
}
P.author {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
P.Body {
	FONT-SIZE: 11pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.Bulleted {
	FONT-SIZE: 11pt; MARGIN: 4pt 0pt 0pt 36pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -18pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.CellBody {
	FONT-SIZE: 12pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.CellHeading {
	FONT-SIZE: 12pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
P.Footnote {
	FONT-SIZE: 10pt; MARGIN: 0pt 18pt 0pt 30pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -12pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 14pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 14pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 14pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 14pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 14pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.Heading1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; MARGIN: 14pt 0pt 6pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H1.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 12pt 0pt 3pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H2.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 12pt 0pt 3pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H3.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 12pt 0pt 3pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H4.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 12pt 0pt 3pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H5.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 12pt 0pt 3pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
H6.Heading2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 12pt 0pt 3pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.HeadingRunIn {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 6pt 0pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Indented {
	FONT-SIZE: 12pt; MARGIN: 0pt 0pt 0pt 18pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Mapping-Table-Cell {
	FONT-SIZE: 12pt; MARGIN: 2pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.Mapping-Table-Title {
	FONT-SIZE: 14pt; MARGIN: 2pt 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.Numbered {
	FONT-SIZE: 12pt; MARGIN: 0pt 0pt 0pt 18pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -18pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.Numbered1 {
	FONT-SIZE: 12pt; MARGIN: 0pt 0pt 0pt 18pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -18pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
P.TableFootnote {
	FONT-SIZE: 10pt; MARGIN: 0pt 18pt 0pt 30pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: -12pt; FONT-FAMILY: Times; TEXT-ALIGN: left; TEXT-DECORATION: none
}
LI.TableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN: 0pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H1.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H2.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H3.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H4.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H5.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
H6.Title {
	FONT-WEIGHT: bold; FONT-SIZE: 18pt; MARGIN: 24pt 0pt 12pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; TEXT-INDENT: 0pt; FONT-FAMILY: Times; TEXT-ALIGN: center; TEXT-DECORATION: none
}
EM.Emphasis {
	FONT-STYLE: italic
}
EM.EquationVariables {
	FONT-STYLE: italic
}
EM.no-overline {
	FONT-SIZE: 10pt; VERTICAL-ALIGN: baseline; TEXT-TRANSFORM: none; COLOR: #000000; FONT-FAMILY: Symbol; TEXT-DECORATION: none
}
